body {
    background-color: #f5e7da;
    font-family: 'Dongle', sans-serif;
    color: #6B5A53;
}

.container {
    padding: 80px;
}

.profile {
    background-color: #f9f4ee;
    border-radius: 20px;
    padding: 25px;
    line-height: 13px;
    display:flex;
    width:fit-content;
    align-items: center;
    min-width: 350px;
}

.avatar {
    width:65px;
    height: 65px;
    border-radius: 50px;
    background-color: #D9D9D9;
    margin-right: 20px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: 500;
}

p {
    font-family: 'Dongle', sans-serif;
    font-size: 28px;
    margin: 0px;
}

.game-grid {
    margin-top: 60px;
    display:flex;
    flex-wrap: wrap;
    gap: 35px;
}

.game-card {
    min-width: 280px;
    max-width: 280px;
    height: auto;
    background-color: #f9f4ee;
    border-radius: 20px;
    display: flexbox;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.game-info {
    height: min-content;
    margin-top: 15px;
}

h2 {
    font-size: 40px;
    font-weight: 200;
    margin: 0;
    line-height:35px;
}

.cover-art {
    background-color: #D9D9D9;
    height: 150px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.status, .tags {
    font-family: 'Gaegu', sans-serif;
    margin-top: 8px;
    font-size: 20px;
    line-height: 25px;
    border-radius: 8px;
}

.status.green {
    background-color: #BFC69C;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px; 
}

.status.orange {
    background-color: #E3C299;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px; 
}

.status.red {
    background-color: #DA736C;
    color:#f9f4ee;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px; 
}

.status.brown {
    background-color: #6B5A53;
    color:#f9f4ee;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px; 
}

.tags {
    display: flex;
    column-gap: 8px;
}

.tag {
    background-color: #BABABA;
    color:#f9f4ee;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px; 
    border-radius: 6px;
    line-height: 25px;
    border-radius:8px;
}

.tag img {
    height:9px;
    width: auto;
}